.int111{
    /* border: 1px solid red; */
}
.team1{
    /* border: 1px solid red; */
   height: 30vh;
   margin-top: 10%;
}
.team11{
    color: #FFF;
    font-family: hellix2;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 10vh;
    
}
.team12{
    color: #FFF;
    font-family: hellix4;  
        font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* margin-top: 3%; */
    height: 10vh;
}
.team12 div{
    margin-top: 2%;
}
@media(max-width: 1000px){
    .int{
      display:none;
    }
    
  }